@media print {
    body {
        font-family: 'Asap', sans-serif;
        margin: 0 !important;
        margin-left: 20mm;
    }

    .print {
        font-weight: 400;
        color: black;
    }

    .accreditation {
        padding-top: 25mm;
    }

    .accreditation > span {
        display: block;
    }

    .accreditation > .firstname {
        font-weight: 700;
        font-size: 35pt;
        color: #2E3030; 
        letter-spacing: 0.5px;
    }

    .accreditation > .lastname {
        font-weight: 300;
        font-size: 35pt;
        color: #2E3030; 
        letter-spacing: 0.5px; 
    }

    .accreditation > .minor-age-sign {
        display: block; 
        width: 18pt; 
        position: absolute; 
        bottom: 4mm; 
        right: 1mm; 
    }
}