<html ng-app="AttendeeRegistrationApp">
<head>
    <base href="/" />
    <meta name="viewport" content="width=device-width" />
    <title>DUMP Day</title>
    <link rel="icon" href="/favicon.ico">

    @Styles.Render("~/bundles/google-fonts")
    @Styles.Render("~/bundles/styles")
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" ng-href="/">
                    DUMP<span style="color: #98c765;">DAY</span>
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a ng-href="/create">Dodaj novog posjetitelja</a></li>
                    <li><a ng-href="/list">Pregledaj postojeće posjetitelje</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div ng-view></div>
        </div>
    </div>
    @Scripts.Render("~/bundles/scripts")
</body>
</html>
