@media print {
    body {
        margin: 0 !important;
        margin-left: 20mm;
    }

    .print {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        color: black;
    }

    .accreditation {
        padding-top: 38mm;
        margin-left: 7mm;
    }

    .accreditation > span {
        display: block;
    }

    .accreditation > .firstname {
        font-family: 'Roboto-Bold', sans-serif;
        font-weight: 700;
        font-size: 35pt;
    }

    .accreditation > .lastname {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 24pt;
        line-height: 25px;
    }

    .accreditation > .title {
        font-family: 'Roboto-Italic', sans-serif;
        font-size: 14pt;
        font-style: italic;
        line-height: 30px;
    }

    .accreditation > .minor-age-sign {
        text-align: center;
        padding-top: 175px;
        margin-right: 3mm;
        font-size: 40px;
        color: #8ab957 !important;
    }
}
